/* .product-list{
    width: 39%;

}

.product-item{
    display: flex;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
}

.product-item-img{
    width: 30%;
    height: 100%;
}

.product-item-right{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item-price-detail{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-item-price-detail a{
    text-decoration: none;
} */
/* 
.list {
  display: flex;
  flex-direction: column;
} */

.card {
  border: 1px solid #1948e3;
  border-radius: 8px;
  height: 100px;
  margin: 0 auto;
  padding: 15px 25px;
  width: 890px;
}
/* 
.card:not(:last-of-type) {
  margin-bottom: 20px;
} */

.text.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
